# Project Guideline

Hi teman-teman! Silakan menggunakan template notebook ini untuk mengerjakan projectmu.

<br>

**Informasi tambahan,**
1. Copy notebook ini untuk mulai mengerjakan Projectmu.
2. Kamu bebas untuk menambahkan cell pada notebook.

## Data Understanding

Menjelajahi struktur dan karakteristik dari sebuah data.

Menulis kode untuk mengkoneksikan notebook ke Google Drive

In [ ]:
# from google.colab import drive
# # drive.mount('/content/drive')

Memasukkan library yang akan kamu gunakan

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

Mengambil file .csv dari Google Drive kamu.

In [3]:
# df = pd.read_csv('/content/drive/MyDrive/FIKTI/Notebook/Dataset/housing_data.csv')
df = pd.read_csv('../dataset/housing_data.csv')

In [4]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

## Data Cleaning

Menangani nilai yang hilang, outlier, dan mempersiapkan variabel.

<b>üßπ Menangani Nilai yang Hilang (Missing Values) <b>

In [5]:
print("Jumlah nilai yang hilang pada setiap kolom:")
print(df.isnull().sum())

Jumlah nilai yang hilang pada setiap kolom:
price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

<b>üìä Deteksi Outlier (menggunakan IQR method)<b>

In [6]:
numerical_cols = ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking']
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower) | (df[col] > upper)]
    print(f"Outlier pada kolom '{col}': {len(outliers)} data")

Outlier pada kolom 'price': 15 data
Outlier pada kolom 'area': 12 data
Outlier pada kolom 'bedrooms': 12 data
Outlier pada kolom 'bathrooms': 1 data
Outlier pada kolom 'stories': 41 data
Outlier pada kolom 'parking': 12 data

<B>üî† Encoding Kategorikal<b>

In [7]:
categorical_cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating',
                    'airconditioning', 'prefarea', 'furnishingstatus']
label_encoders = {}

for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

<b>üìè Scaling Data Numerik<b>

In [8]:
scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

<b>‚úÖ Final Check<b>

In [9]:
print("\nData setelah cleaning:")
display(df.head())
print(df.describe())

Data setelah cleaning:

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,4.566365,1.046726,1.403419,1.421812,1.378217,1,0,0,0,1,1.517692,1,0
1,4.004484,1.757010,1.403419,5.405809,2.532024,1,0,0,0,1,2.679409,0,0
2,4.004484,2.218232,0.047278,1.421812,0.224410,1,0,1,0,0,1.517692,1,1
3,3.985755,1.083624,1.403419,1.421812,0.224410,1,0,1,0,1,2.679409,1,0
4,3.554979,1.046726,1.403419,-0.570187,0.224410,1,1,1,0,1,1.517692,0,0

              price          area      bedrooms     bathrooms       stories  \
count  5.450000e+02  5.450000e+02  5.450000e+02  5.450000e+02  5.450000e+02
mean   2.085997e-16 -1.564498e-16 -1.825247e-16 -2.607496e-17 -1.303748e-16
std    1.000919e+00  1.000919e+00  1.000919e+00  1.000919e+00  1.000919e+00
min   -1.614327e+00 -1.614530e+00 -2.665004e+00 -5.701867e-01 -9.293967e-01
25%   -7.153170e-01 -7.151451e-01 -1.308863e+00 -5.701867e-01 -9.293967e-01
50%   -2.283534e-01 -2.539222e-01  4.727831e-02 -5.701867e-01  2.244101e-01
75%    5.208214e-01  5.578300e-01  4.727831e-02  1.421812e+00  2.244101e-01
max    4.566365e+00  5.096263e+00  4.115701e+00  5.405809e+00  2.532024e+00

         mainroad   guestroom    basement  hotwaterheating  airconditioning  \
count  545.000000  545.000000  545.000000       545.000000       545.000000
mean     0.858716    0.177982    0.350459         0.045872         0.315596
std      0.348635    0.382849    0.477552         0.209399         0.465180
min      0.000000    0.000000    0.000000         0.000000         0.000000
25%      1.000000    0.000000    0.000000         0.000000         0.000000
50%      1.000000    0.000000    0.000000         0.000000         0.000000
75%      1.000000    0.000000    1.000000         0.000000         1.000000
max      1.000000    1.000000    1.000000         1.000000         1.000000

          parking    prefarea  furnishingstatus
count  545.000000  545.000000        545.000000
mean     0.000000    0.234862          1.069725
std      1.000919    0.424302          0.761373
min     -0.805741    0.000000          0.000000
25%     -0.805741    0.000000          0.000000
50%     -0.805741    0.000000          1.000000
75%      0.355976    0.000000          2.000000
max      2.679409    1.000000          2.000000

## Exploratory Data Analysis

Memvisualisasikan hubungan, distribusi data, dan lain sebagainya.

## Data Preparation

Memisahkan data training dan testing

## Model Building

Membuat regresi linier pada. Silakan mengeksplorasi dataset kamu terlebih dahulu dengan berbagai kombinasi prediktor.

## Evaluation

Melakukan evaluasi model yang telah dibuat menggunakan plot dan metrik evaluasi, serta tambahkan interpretasi hasilnya.